$header-size: 25vh;
$body-size: 95vh - $header-size;

.col-centered {
    float: none;
    margin: 0 auto;
}


:host {
    position: relative;
    height: 100%;
}


%master-item {
    position: absolute;
}

.master-view-fullsize {
    @extend %master-item;

    overflow-x: hidden;
    overflow-y: scroll;
    height: $body-size;
    top: $header-size;
    width: 100%;
}

.master-view-header {
    @extend %master-item;

    top: 0;
    height: $header-size;
    border-bottom: 3px #333333 solid;
    width: 100%;
}

