$master-top-padding: 50px;
$master-bottom-padding: 0px;

.master-detail-view > div {
  height: 85vh;
}

.master-view {

  position: relative;
  height: 100%;

  %master-item {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .master-header {
    @extend %master-item;
    top: 0;
    height: $master-top-padding;
  }

  .master-footer {
    @extend %master-item;
    bottom: 0;
    height: $master-bottom-padding;
  }

  .master-body {
    @extend %master-item;
    top: $master-top-padding;
    bottom: $master-bottom-padding;
    overflow-x: hidden;
    overflow-y: scroll;

    .list-group-item {
      cursor: pointer;
      text-align: left;
    }

  }

}

