
<div class="row master-detail-view">

  <div class="col-md-3 master-view">

    <div class="master-header">
      Rooms
    </div>

    <div class="master-body">

      <ul class="list-group">

        <li class="list-group-item" [class.active]="selectedLocal === null" (click)="selectRoom(null)">
          Toutes les salles
        </li>

        <li class="list-group-item" *ngFor="let room of rooms" [class.active]="room === selectedLocal" (click)="selectRoom(room)">

          {{ room }}

          <i class="glyphicon glyphicon-chevron-right"></i>

        </li>

      </ul>

    </div>

    <div class="master-footer">
      <input type="checkbox">
      <label>Afficher les salles inactives</label>
    </div>

  </div>

  <div class="col-md-3 master-view">

    <div class="master-header">
      Rooms
    </div>

    <div class="master-body">

      <div class="alert alert-warning" *ngIf="machines.length == 0">
        Aucune salle enregistrées
      </div>


      <div class="list-group" *ngIf="machines.length > 0">

        <div class="list-group-item" *ngFor="let machine of machines" (click)="selectMachine(machine)" [class.active]="selectedMachine && machine.__id === selectedMachine.__id">
            <p>{{ machine.local }} - {{ machine.name }}</p>
            <small>{{ machine.comment }}</small>
        </div>

      </div>

    </div>

    <div class="master-footer">
      <input type="checkbox">
      <label>Afficher les salles inactives</label>
    </div>

  </div>


  <div class="col-md-6">

    <h1>Room</h1>

  </div>

</div>

