<div class="row master-detail-view">

    <div class="col-md-3 master-view">

        <div class="master-header">
            <!--<a>Imprimer toutes les </a>-->
        </div>

        <div class="master-body">

            <ul class="list-group">

                <li class="list-group-item" [class.active]="selectedLocal === null" (click)="selectRoom(null)">
                    Toutes les salles
                </li>

                <li class="list-group-item" *ngFor="let room of rooms" [class.active]="room === selectedLocal"
                    (click)="selectRoom(room)">

                    {{ room }}

                    <i class="pull-right fa fa-chevron-circle-right"></i>

                </li>

            </ul>

        </div>

        <div class="master-footer">
            <app-room-loader></app-room-loader>
        </div>

    </div>

    <div class="col-md-3 master-view">

        <div class="master-header">
            <div>{{ countMachines }} machine(s) visibles</div>
            <div>

                <input [(ngModel)]="showInactiveMachine" type="checkbox">
                <label>Afficher les salles inactives</label>
            </div>
        </div>

        <div class="master-body">

            <div class="alert alert-warning" *ngIf="machines.length == 0">
                Aucune salle enregistrées
            </div>


            <ul class="list-group" *ngIf="machines.length > 0">

                <li class="list-group-item"
                    *ngFor="let machine of machines"
                    (click)="selectMachine(machine)"
                    [class.active]="selectedMachine && machine.__id === selectedMachine.__id"
                    [class.text-muted]="machine.is_available === false">
                    {{ machine.name }}
                    <small>(local: {{ machine.local }})</small>
                    <i class="pull-right fa fa-chevron-circle-right"></i>
                </li>

            </ul>

        </div>

        <div class="master-footer">
            <div *ngIf="selectedLocal !== null" class="btn btn-primary">
                <a href="{{prefixURL+'/etiquettes/'+selectedLocal+'/all.pdf'}}">Imprimer les QR du {{ selectedLocal }}</a>
            </div>

        </div>

    </div>


    <div class="col-md-6">

        <app-machine-preview [preview]="selectedMachine"></app-machine-preview>

    </div>

</div>

