<div class="row">
    <div class="col-md-3">
        <div>
            <label>Recherche globale</label>
            <input
                    type='text' class="form-control"
                    placeholder='Rechercher un email, une machine, un local ...'
                    [(ngModel)]="textFilter" (keyup)="filter()" (change)="filter()"
            />
        </div>
        <div>
            <label>Salle</label>
            <select class="form-control">
                <option [value]="null">Toutes les salles</option>
                <option *ngFor="let room of rooms" [value]="room" [selected]="selectedRoom === room">{{ room }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-3">
        <label>Date de debut</label>
        <div>
            <div id="dateStart" class="input-group datepicker-input" #startContainer>
                <input class="form-control" placeholder="yyyy-mm-dd" (change)="filter()"
                       name="dpStart" [(ngModel)]="startDate" ngbDatepicker #d1="ngbDatepicker">
                <button class="input-group-addon" (click)="d1.toggle()" type="button">
                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                    <span class="fa fa-calendar"></span>
                </button>
                <button class="input-group-addon" type="button">
                    <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                    <span class="fa fa-remove" (click)="resetStartDate()"></span>
                </button>
            </div>
        </div>

        <label>Date de fin</label>
        <div id="dateEnd" class="input-group datepicker-input" #endContainer>
            <input class="form-control" placeholder="yyyy-mm-dd" (change)="filter()"
                   name="dpEnd" #dpEnd [(ngModel)]="endDate" ngbDatepicker #d2="ngbDatepicker">
            <button class="input-group-addon btn btn-primary" (click)="d2.toggle()" type="button">
                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                <span class="fa fa-calendar"></span>
            </button>
            <button class="input-group-addon btn btn-default" type="button">
                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                <span class="fa fa-remove" (click)="resetEndDate()"></span>
            </button>
        </div>
    </div>

    <div class="col-md-3">
        <label>Filtre des status</label>
        <table class="table table-sm">
            <tr *ngFor="let s of selectedStatus" (click)="clickState(s.index)">
                <td>
                    {{ s.val }}
                    <span *ngIf="s.status === true" class="badge badge-primary pull-right">
                        Sélectionné
                    </span>
                    <span *ngIf="s.status === false" class="badge badge-secondary pull-right">
                        Ignoré
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-3">
        <table class="table table-sm">
            <tr *ngFor="let s of selectedTypes" (click)="clickType(s.index)">
                <td>
                    {{ s.val }}
                    <span *ngIf="s.status === true" class="badge badge-primary pull-right">
                        Sélectionné
                    </span>
                    <span *ngIf="s.status === false" class="badge badge-secondary pull-right">
                        Ignoré
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>
